#Ignore images too big of a folder
backend/ygo/images
backend/__pycache__
#Ignore pycache
backend/ygo/__pycache__
#Ignore vscode settings
.vscode
#FrontEnd files that need to be ignored
frontend/node_modules
frontend/.DS_Store
frontend/dist